.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 3vh;
  /* font-size: 600%; */
}

/* .featureImg {
	margin-top: -70px;
	transform: scale(60%);
	margin-bottom: 0;
} */